body {
  width: 100%;
  font-size: 0;
  text-align: center;
}

div {
  display: inline-block;
  width: 20%;
  background: green;
  font-size: 12px;
  position: relative;
  vertical-align: middle;
}

div:nth-child(2n) {
  background: orange;
}

div:before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
  width: .1px;
  vertical-align: middle;
}

div span {
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
  color: #fff;
}
